body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 18px;
  line-height: 30px;
  background-color: #f8f1f2;
}

#navbar a {
  color: #060607;
  font-size: large;
}
a:hover,
#navbar a:hover {
  color: #ccd8d8;
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
}
.navbar-brand {
  font-size: 1.8rem;
  color: rgb(8, 7, 7);
}
.navbar-toggler {
  border: none;
  padding: 7px 6px;
  outline: none;
}
.navbar-toggler span {
  display: block;
  width: 20px;
  height: 2px;
  border: 1px;
  background-color: rgb(10, 10, 10);
}
.navbar-toggler span + span {
  margin-top: 4px;
  width: 20px;
}
.navbar-toggler span + span + span {
  width: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.4rem 1rem;
  font-size: 1.2rem;
  position: relative;
}
#navbar .active {
  color: #000000;
}
.sticky-nav {
  position: sticky;
  top: 0px;
  padding: 4%;
  z-index: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-oridinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-color: rgba(175, 94, 107, 0.863);
}

/* heading section */
.heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  color: rgb(7, 6, 6);
  margin-top: 160px;
  min-height: 100px;
}
.heading-text h3{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  color: rgb(7, 6, 6);
  margin-top: 10px;
  min-height: 100px;
}

.header-background {
  position: static;
  display: block;
  overflow: visible;
  top: 0px;
  height: auto;
  min-height: 700px;

  padding-bottom: 50px;
  background-image: linear-gradient(
      180deg,
      rgba(50, 50, 65, 0.3),
      rgba(50, 60, 60, 0.9)
    ),
    url(https://images.pexels.com/photos/585752/pexels-photo-585752.jpeg?cs=srgb&dl=pexels-toni-cuenca-585752.jpg&fm=jpg);
  flex-direction: column;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  white-space: normal;
  object-fit: fill;
  -o-object-fit: fill;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}
/* About Section */
.about-head::after{
  content: "";
    display: block;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background: #141212;
}

.about-section {
  background-color: #fdf9f9;
  margin-top: 0%;
}

.about-img {
  border-radius: 50%;
  border-radius: 40%;
  margin-top: 15%;
}
.about-more::after{
   content: "";
    display: block;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background: #141212;
}


/* end of about page */

/* timeline section */
.timeline-head ::after{
     content: "";
    display: block;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background: #141212;
}

.timeline-head {
  margin-top: 8%;
  padding: 20px;
  text-align: center;
  background-color: #bb6a6a;
  color: rgb(15, 13, 13);
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  /* background:#070606; */
}
.timeline ul{
  padding:0;
  margin-top:5%;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-5px;
  background:rgb(7, 7, 7);
  border-radius:50%;
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:rgb(0, 0, 0);
  border-radius:50%;
 
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:rgba(0, 0, 0, 0.959);
  font-weight:500;
  font-size:25px ;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:15px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:15px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:rgb(184, 94, 106);
  color:rgb(3, 2, 2);
  border-radius:18px;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-195px;
  margin:0;
  padding:8px 16px;
  background:rgb(184, 102, 102);
  color:rgb(15, 14, 14);
  border-radius:18px;
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}

/* project section */

.project-text ::after{
   content: "";
    display: block;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background: #141212;
}
  .project-text {
  padding: 20px;
  text-align: center;
  background-color: #bb6a6a;
  color: rgb(15, 13, 13);
}
.project-section {
  text-align: center;
  margin-top: 3%;
}
.box-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(226, 117, 117, 0.877);
  box-shadow: 0 1px 1px rgba(223, 137, 144, 0.925);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.box-shadow:hover {
  -webkit-box-shadow: 0 20px 40px rgba(218, 123, 123, 0.938);
  box-shadow: 0 20px 40px rgb(224, 128, 128);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
}

.card {
  border-radius: 25px;
}

.card img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card svg {
  position: absolute;
  top: 23rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  filter: drop-shadow(2px -9px 4px rgba(219, 125, 141, 0.925));
}
.card:hover svg {
  filter: drop-shadow(2px -9px 4px rgba(224, 151, 151, 0.897));
  margin-bottom: 10%;
}

.card:hover i {
  transform: rotate(-180deg);
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(235, 169, 169, 0.959);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
/* Skills section */

/**** SERVICE ****/

.skills-section h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: rgb(9, 9, 12);
  letter-spacing: 0.05em;
   padding: 10px;
 width: auto;
  background-color: #bb6a6a;
  color: rgb(15, 13, 13);
  
}
.skills-section h3:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background: #141212;
  
}

.skills-items .icon {
  color: #883f43;
  font-size: 36px;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 100%;
  border: solid 2px #a04d4d;
  margin: 10px auto 30px;
  line-height: 98px;
}

.skills-items h4 {
  font-size: 22px;
  margin-bottom: 20px;
  /* text-transform: capitalize; */
  color: #0e0908;
  text-align: center;
}

/* .skills-items h4 a {
  color: rgb(7, 6, 6);
}

.skills-items h4 a:hover {
  color: #0e0c0c;
} */

.skills-items p {
  font-size: 16px;
  line-height: 1.6;
  color: #414141;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}
/* End of Skills */

.testimonial-text ::after{
     content: "";
    display: block;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background: #141212;
}
.testimonial-text{
   padding: 10px;
 width: auto;
  text-align: center;
  background-color: #bb6a6a;
  color: rgb(15, 13, 13);
}
.bg-product {
  background: #dbd2d2;
}
#sliderproduct {
  width: 100%;
}
#sliderproduct .carousel-inner {
  overflow: visible;
}

#sliderproduct .col-sm-6.image {
  background: rgb(228, 220, 221);
  box-shadow: 0px 4px 8px 0px #cf7979;
  position: relative;
  border-radius: 15%;
  margin-top: 10%;
}
.item {
  padding: 10px 10px 20px 10px;
}

.col-sm-6.image .item img.img-fluid {
  width: 300px;
}
.col-sm-6.image h1 {
  margin-top: 10%;
}


#sliderproduct .col-sm-4.mr-auto {
  margin-top: 22px;
}

#sliderproduct p.cr1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

#sliderproduct .col-sm-6:last-child {
  padding-top: 27px;
  padding-bottom: 27px;
}

#sliderproduct .rating {
  margin: 23px 0px;
}

#sliderproduct .details h2 {
  margin: 25px 0px 30px 0px;
  font-size: 24px;
  font-weight: 700px;
  margin-top: 20%;
}

#sliderproduct .details p.cr4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0px;
}
#sliderproduct .carousel-item {
  transition: 0.4s;
}

#sliderproduct a.carousel-control-prev,
#sliderproduct a.carousel-control-next {
  border-radius: 0%;
  background-color: rgb(15, 14, 14);
  width: 10px;
  height: 30px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -60%);
}

#sliderproduct ol.carousel-indicators {
  display: none;
}


/* contact */
.footer {
  position: fixed;
  bottom: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: #292929;
  color: rgb(196, 189, 189);
  font-family: sans-serif;
  font-size: 14px;
}
.footer img {
  width: 26px;
  position: relative;
  top: 0px;
  left: -3px;
}
.footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
/* contact form */

/* footer section */
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(204, 204, 204);
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
